/* Name & Level's Parent Container */
:root
{
    --textColor: #D9F7FA; 
    --fontSize: 20px;
    --headerSize: 35px;
}

body 
{
    max-width: 1200px;
    margin: 0 auto;
    
    color: var(--textColor);
    background-color: #2E4057;
    border: black solid 2px;
    justify-content: center;
    padding-bottom: 1em;
}
h2 
{
    background-color: #52528C;
    margin-top: 0;
    text-align: center;
    padding: 0.5em;
    margin-bottom: 0px;
    border-bottom: black solid 2px;
    font-size: var(--headerSize);
}

div
{
    align-self: center;
    display: block;
}

input 
{
    font-size: var(--fontSize);
    background-color: transparent;
    color: var(--textColor);
    border: none;
    min-height: 40px;
}

/* Name */
div input:nth-child(2) 
{
    text-align: center;
    width: 80%;
}

/* Level */
div input:nth-child(1)
{
    display: inline;
    margin: 0;
    width: 8ch;
    text-align: center;
    width: 10%
}